
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>心电详情</title>
<link type="text/css"  href="__PUBLIC__/css/rui1.css" rel="stylesheet">
<link href="__PUBLIC__/css/ectouch001.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/TouchSlide.js"></script>

</head>
<body style="background:#fff; margin:0; padding:0">

<!--导航轮播开始-->
 
 <div id=content class="wrap">
<div style="clear:both"></div>

<h2 class="headtitle" style="border-bottom:none; text-align:center; padding-bottom:15px">
<span style="font-size:16px; color:#333; position:relative; top:-5px">心电图报告</span>
</h2>

<h2 class="headtitle" style="border-bottom: thin #ccc solid; height:28px; line-height:28px; margin-top:0px; padding-bottom:6px">
<span style="font-size:13px; color:#666; position:relative; top:-5px">报告日期：2018-11-28</span>
<span style="font-size:13px; color:#666; position:relative; top:-5px; float:right; margin-right:10px">检查号：1707249903001</span>
</h2>

<div style="clear:both"></div>
</div>
 
 
 







<div style="clear:both"></div>


<div class="everyday">
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">姓名：李文轩</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">性别：男</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">年龄：22</span></p>

<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">心率： 60bpm</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">P时限：96ms</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">QRS时限：116ms</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">P-R间期：168ms</span></p>

<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">QT间期： 452ms</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">QTC间期： 452ms</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">QRS电轴： 125.1度</span></p>

<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">RV5： 0.61mV</span></p>
<p style="width:32.8%; border:none; height:40px; line-height:40px"><span style="margin-left:8px">SV1： 0.55mV</span></p>





<div style="clear:both"></div>
</div>

<div id="focus" class="focus region">
  <div class="bd">
<ul>
  <li><a href='' target='_blank'><img src='__UPLOAD__/Public/2018-11-24/xindiantu.png'  style=" width:100%; height:240px"/></a></li>
</ul>
  </div>
</div>

<p style="width:100%"><span style="margin-left:8px; font-family:'微软雅黑'">诊断：窦性心律</span>
<span style="float:right; margin-right:10px; font-family:'微软雅黑'">医生签名：张晓红</span>
</p>

<p style="width:100%; padding-top:20px">
<span style="margin-left:8px; font-family:'微软雅黑'; color:#999999;">
（本报告仅供临床医生结合临床参考，不作诊断证明之用）
</span>
</p>








</body>
</html>