
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>版权信息</title>
<link type="text/css"  href="__PUBLIC__/css/rui1.css" rel="stylesheet">
<link href="__PUBLIC__/css/ectouch001.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/TouchSlide.js"></script>


</head>
<body style="background:#fff; margin:0; padding:0">

<!--导航轮播开始-->

<div style=" width:120px; height:120px; margin:50px auto; border-radius:10px; margin-bottom:15px">
<img src="__UPLOAD__/Public/logo01.png" style="width:100%; height:100%;border-radius:10px; border:#FFFFFF 2px solid">
</div>
<p style="text-align:center; font-family:'微软雅黑'; font-size:20px; color:#666">威灵医生</p>


<p style="width:80%; height: auto; line-height:42px; font-family:'微软雅黑'; font-size:16px; color:#999; margin:30px auto; line-height:26px;">
[威灵]是中国首款便携医生与专家沟通的手机应用, 致力于打造全国专业的在线询问专家和个人药品在线管理的移动应用服务平台。威灵医生APP专为医生打造,为医生提供向专家在线问诊、移动端心电采集、检查检验报告查询、患者病历管理、会诊支付、在线购药和在线个人药品管理等服务。
<br/><br/><br/><br/><br/>
最终解释权归威灵项目组所有
</p>


<p style="width:80%; height:42px; line-height:42px; border-bottom:1px #eee solid; font-family:'微软雅黑'; font-size:18px; color:#1988d8; margin:10px auto">
版本号
<span style="float:right; font-family:'微软雅黑'; font-size:14px; color:#666">V0.81</span>
</p>

<p style="width:80%; height:42px; line-height:42px; border-bottom:1px #eee solid; font-family:'微软雅黑'; font-size:18px; color:#1988d8; margin:10px auto">
公司名称
<span style="float:right; font-family:'微软雅黑'; font-size:14px; color:#666">沈阳天泰医用软件技术有限公司</span>
</p>


<p style="width:90%; height:42px; line-height:42px;  font-family:'微软雅黑'; font-size:16px; color:#999; margin:10px auto; text-align:center; margin-top:50px">
CopyRight@威灵医生
</p>










</body>
</html>