
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>帮助</title>
<link type="text/css"  href="__PUBLIC__/css/rui1.css" rel="stylesheet">
<link href="__PUBLIC__/css/ectouch001.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/TouchSlide.js"></script>

</head>
<body style="background:#fff; margin:0; padding:0">

<!--导航轮播开始-->
<h4 style="font-family:'微软雅黑'; font-size:16px; font-style:normal; padding-left:2.5%; color:#ff3333; padding-top:10px">静态心电链接示意图</h4>
<img src="__UPLOAD__/Public/2018-11-24/a22.png" style="width:95%; height:auto;border-radius:5px; display:block; margin:10px auto">

<h4 style="font-family:'微软雅黑'; font-size:16px; font-style:normal; padding-left:2.5%; color:#ff3333; padding-top:10px">动态心电链接示意图</h4>
<img src="__UPLOAD__/Public/2018-11-24/a21.png" style="width:95%; height:auto;border-radius:5px; display:block; margin:10px auto">



<!--
<p style="width:80%; height: auto; line-height:42px; font-family:'微软雅黑'; font-size:16px; color:#999; margin:30px auto; line-height:26px;">
[威灵]是中国首款便携医生与专家沟通的手机应用, 致力于打造全国专业的在线询问专家和个人药品在线管理的移动应用服务平台。威灵医生APP专为医生打造,为医生提供向专家在线问诊、移动端心电采集、检查检验报告查询、患者病历管理、会诊支付、在线购药和在线个人药品管理等服务。
</p>-->











</body>
</html>