

<div class="bjui-pageContent tableContent">
    <form action="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate" enctype="multipart/form-data">
		
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
			<tr><td>
                <label for="j_title" class="control-label x85">姓名:</label>
                <input type="text" data-rule="required" size="25" name="name" id="j_username" value=""  >
             </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">电话:</label>
                <input type="text" data-rule="required" pattern="^1[3458]{1}[0-9]{9}$" title="请输入正确的手机号" size="25"  name="mobile" id="j_pwd" value="" >
				
             </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">地址：</label>
                <input type="text" data-rule="required" size="25" name="address" id="j_truename" value="" >
             </td></tr>

              
            
            </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>

			
			