<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td>
                <label for="j_title" class="control-label x85">药品名称:</label>
                {$Rs.name}
             </td></tr>
             <tr><td>
                <label for="j_title" class="control-label x85">库存:</label>
                {$Rs.num}
             </td></tr>
             <tr><td>
                <label for="j_title" class="control-label x85">药品图片:</label>
                
              <img width="100px" height="100px" src="__UPLOAD__/Public/{$Rs.img}">
             </td></tr>
          
            

             
             
                <tr><td><label  class='control-label x85'>药品分类:</label>
             
             
             {$typename}
             </td></tr>
                
             
            
            
            
            <tr><td>
                <label for="j_title" class="control-label x85">规格型号：</label>
               {$Rs.format}
                
             </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">剂型：</label>
               {$Rs.name}
            </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">批注文号：</label>
                {$Rs.pzwh}
            </td></tr>
             <tr><td>
                 <label for="j_title" class="control-label x85">生产日期：</label>
            {$Rs.start_time |date="Y-m-d",###}
             </td></tr>
              <tr><td>
                <label for="j_title" class="control-label x85">有效期限：</label>
               {$Rs.upto}
            </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">有效期至：</label>
                {$Rs.end_time|date="Y-m-d",###}
             </td></tr>
              <tr><td>
                <label for="j_title" class="control-label x85">生产企业：</label>
                {$Rs.company}
            </td></tr>
             
             <tr><td colspan=2><label for='blfy_input' class='control-label x85'>不良反应:{$Rs.name}</label></td></tr>            
            <tr><td colspan=2><label for='blfy_input' class='control-label x85'>主要成分:{$Rs.main}</label></td></tr>
            <tr><td colspan=2><label for='blfy_input' class='control-label x85'>用法用量:{$Rs.use} </label></td></tr>
            <tr><td colspan=2><label for='blfy_input' class='control-label x85'>贮存方式:{$Rs.storage}</label></td></tr>
             <tr><td colspan=2><label for='blfy_input' class='control-label x85'>功能主治:{$Rs.cure}</label></td></tr>
            </tbody>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>